In [19]:
from array import *

In [20]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

#### Insertion

In [21]:
T.insert(2, [0,2,4,6])
T

[[11, 12, 5, 2], [15, 6, 10], [0, 2, 4, 6], [10, 8, 12, 5], [12, 15, 8, 6]]

#### Updating value

In [22]:
T[2] = [11,9]
T[0][3] = 7
T

[[11, 12, 5, 7], [15, 6, 10], [11, 9], [10, 8, 12, 5], [12, 15, 8, 6]]

#### Deletion

In [23]:
del T[3]
T

[[11, 12, 5, 7], [15, 6, 10], [11, 9], [12, 15, 8, 6]]

#### Printing as table

In [24]:
for row in T:
    for ele in row:
        print(ele, end=" ")
    print(" ")

11 12 5 7
15 6 10
11 9
12 15 8 6